* {
  box-sizing: border-box;
}
a {
  color: #111;
  text-decoration: none;
}
body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.logo_wrapper .scroll-to {
  float: left;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:active {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 906px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 906px) {
  .topnav.responsive {
    position: fixed;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}

#scroll-to {
  float: left;
}
.logo {
  font-size: 24px;
  color: white;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.parallax-background {
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #000;
  background-size: 200% !important;
  -webkit-background-size: cover;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 450px) {
  .parallax-background {
    background-size: 350% !important;
  }
}

.preloader {
  background-color: whitesmoke;
  display: flex;
  z-index: 999;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.accordeon {
  display: flex;
  position: relative;
  height: 40px;
  z-index: 999;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
}

.slice {
  width: 8px;
  z-index: 999;
  height: 25px;
  background: #000;
  display: inline-block;
  margin: 2px;
}

@keyframes SliceHeight {
  0%,
  100% {
    height: 25px;
  }

  50% {
    height: 40px;
  }
}

.some-mh {
  min-height: 400px;
}

.parallax-background.some-mh {
  box-shadow: inset 0 0 10px #3c3c3c;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-width: 320px;
}

.caption {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: 95px;
  text-align: center;
  font-size: 46px;
  line-height: 50px;
  color: #fff;
}

.txt1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 300;
}
.txt2 {
  font-size: 64px;
  line-height: 74px;
  font-weight: 700;
}

.txt3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
}

.home_banners {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 4%;
  z-index: 2;
}
.caption .container {
  bottom: 150px;
}

.container {
  position: relative;
  min-width: 320px;
}

.row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: inline-flex;
}

.home_banners .container .row {
  margin: 0;
}

.thumbnail {
  margin: 15px;
}

.thumb .thumbnail {
  border: none;
  margin-bottom: 0;
  text-decoration: none;
  background-color: #ececec;
  padding: 20px;
}

.parallax-background .parallax-content {
  padding: 120px 15px;
}
.parallax-content {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
.parallax-txt1 {
  font-size: 46px;
  line-height: 50px;
  opacity: 0.8;
  color: white;
  font-weight: 300;
}
.parallax-txt2 {
  font-size: 60px;
  line-height: 65px;
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: 700;
}
.parallax-txt3 {
  font-size: 28px;
  line-height: 36px;
  color: white;
  opacity: 0.8;
  font-weight: 300;
}
.about {
  position: relative;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
}
.page_title {
  font-size: 46px;
  line-height: 56px;
  color: #111;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: -2px;
  margin-top: 50px;
}
h5 {
  font-size: 14px;
  color: #777;
  line-height: 24px;
  padding: 0px 0 10px 0;
  margin: 0 0 0px;
  text-align: center;
}
.divider1 {
  height: 21px;
  background: url("/images/divider1.png") center center no-repeat;
  padding: 21px 0;
}

.thumb2 {
  width: 100%;
  margin-bottom: 20px;
}
.thumb2 .thumbnail {
  padding: 0;
  border: none;
  margin-left: 0px;
  margin-bottom: 0;
  background: none;
}
.col-sm-4 {
  width: 33%;
}

.thumb2 figure {
  margin: 0 0px 20px 0;
}

.thumb2 figure img {
  width: 100%;
}

.thumb2 .caption {
  text-align: start;
  margin: 0;
  line-height: normal;
  color: #777;
  position: relative;
}

.thumb2 .caption .txt2 {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.thumb2 .caption .txt1 {
  font-size: 20px;
  line-height: normal;
  color: #111;
  font-weight: 700;
  letter-spacing: -1px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 5px;
}

.thumb2 .caption .txt3 {
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #777;
  padding-bottom: 10px;
  margin-top: 10px;
}

.thumb2 .caption .txt3 span {
  display: table;
}

.about .container .row {
  display: block;
}

.isotope-boxx {
  margin-bottom: 50px;
}

#works {
  position: relative;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

#options {
  margin-bottom: 20px;
  text-align: center;
}

#filters {
  position: relative;
  margin: 0;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}

#filters {
  display: iin;
}
#filters li {
  display: inline-block;
  padding: 0 2px 5px 2px;
}

#filters .pagination li a.selected {
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  margin: 0;
  text-decoration: none;
  padding: 16px;
  color: #111;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.social_wrapper {
  text-align: center;
  padding-top: 10px;
}

.social2 {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  list-style: none;
  font-size: 36px;
}

.social2 li {
  display: inline-block;
  margin: 0 3px 3px;
  border: 1px solid #777;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.social2 li a {
  display: block;
  font-size: 36px;
  color: #777;
}

.social2 li a svg {
  margin-top: 18px;
}

#testimonials {
  position: relative;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.thumb3 {
  margin-bottom: 30px;
  margin-top: 30px;
}
.thumb3 .thumbnail {
  padding: 0;
  border: none;
  margin-bottom: 0;
  background: none;
}

.thumb3 figure {
  float: left;
  margin: 0px 20px 20px 0px;
}

.thumb3 figure img {
  width: auto;
  border-radius: 50%;
  -moz-border-radious: 50%;
  -webkit-border-radious: 50%;
}

.thumb3 .caption6 {
  display: table;
  color: #777;
}

.thumb3 .caption6 .txt2 {
  color: #777;
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: normal;
  line-height: 14px;
}

.thumb3 .caption6 .txt1 {
  font-size: 16px;
  color: #111;
  line-height: unset;
  font-weight: 700;
}

.thumb3 .caption6 .txt2 {
  font-size: 13px;
}

.thumb3 .caption6 .txt3 {
  font-size: 13px;
  line-height: unset;
}

@media screen and (max-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-4 {
    width: 100% !important;
  }
  .thumb2 {
    width: 100%;
  }
  .thumb2 .thumbnail {
    width: 100%;
    display: flex;
  }

  #row1 {
    padding-bottom: 15px;
  }

  #row1,
  #row2,
  #row3,
  #row4 {
    margin: 0;
    width: 100%;
  }

  .thumb2 .thumbnail figure {
    width: 260px !important;
  }

  .thumb2 .thumbnail .caption {
    width: 60% !important;
  }
}
@media screen and (max-width: 591px) {
  #slides-2 {
    margin-top: 40px !important;
  }
  .prlx2 {
    margin-top: 100px !important;
  }
}
@media screen and (max-width: 500px) {
  .thumb2 .thumbnail {
    display: block;
  }

  .thumb2 .thumbnail figure {
    width: 100% !important;
  }
  .thumb2 .thumbnail .caption {
    width: 100% !important;
  }
  .swiper-slide .caption .container .txt1 {
    font-size: 30px;
  }
  .swiper-slide .caption .container .txt2 {
    font-size: 42px;
    line-height: 60px;
  }
  .swiper-slide .caption .container .txt3 {
    font-size: 24px !important;
  }
  .parallax-txt1 {
    font-size: 46px !important;
  }
  .parallax-txt2 {
    font-size: 44px !important;
  }
  .parallax-txt3 {
    font-size: 28px !important;
  }
  .parallax-txt4 {
  }
}
.swiper-slide .overlay1 {
  width: 201vh;
  left: -2px;
  height: 213%;
  position: absolute;
}
#testimonials .container .row {
  display: block;
}

.parallax4 {
  opacity: 0.8;
}
.parallax4-content {
  padding: 120px 0px;
  text-align: center;
}

.parallax-txt1 {
  font-size: 46px;
  line-height: 50px;
  color: white;
  font-weight: 300;
}

.parallax-txt2 {
  font-size: 60px;
  line-height: 75px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.parallax-txt4 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  opacity: 0.9;
  color: white;
}

.parallax-txt5 {
  font-size: 18px;
  line-height: 36px;
  color: white;
  font-weight: 400;
  opacity: 0.9;
}
.parallax-txt6 {
  font-size: 16px;
  line-height: 36px;
  color: white;
  opacity: 0.9;
}

#contacts1 {
  position: relative;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #111;
  font-size: 13px;
}

.page_title2 {
  font-size: 46px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 30px;
}
.page_title2 strong {
  font-weight: 700;
}
.page_title2 p {
  font-size: 14px;
  line-height: 1.75;
  font-weight: 400;
  color: #777;
}
#row1 {
  width: 100%;
}

#row2 {
  width: 100%;
}

#row3 {
  width: 100%;
}

#row4 {
  width: 100%;
}

.form-controll {
  display: block;
  width: 100%;
  height: 56px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #f7f7f7;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.col-sm-12 {
  padding-left: 0;
  padding-right: 0;
  margin-left: 2px;
  margin-right: 2px;
}
form .buttons {
  display: inline-block;
  background: #111;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 12px 24px;
  color: whitesmoke;
  outline: none !important;
  text-decoration: none;
  border: 1px solid #111;
  border-radius: 50px;
  margin-left: 43%;
}

.buttons {
  color: white !important;
  outline: none;
}

footer {
  position: relative;
  background: #f7f7f7;
  color: #444;
  padding: 30px 80px 30px 80px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}
.some-mh1 {
  margin-bottom: -20%;
}
.social2 {
  opacity: 0.9;
}
.swiper-container {
  width: 100%;
  height: 360px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 35% !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper2 {
  margin-bottom: 120px;
  height: 400px;
}
@media (max-width: 998px) {
  .swiper2 {
    height: 599px;
  }
  .banner .banner_inner .caption {
    height: 222px !important;
  }
}
@media screen and (max-width: 525px) {
  .swiper2 {
    height: 380px;
  }
  .carousel-box {
    margin-top: -35px !important;
  }
  .carousel-box .swiper-button-next,
  .carousel-box .swiper-button-prev {
    margin-top: 30px !important;
  }
  .banner .banner_inner .caption {
    height: 230px !important;
  }
}
#banner_wrapper {
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
}

#banner {
  position: relative;
  padding-bottom: 0px;
  padding-top: 0px;
}

.banner_prev {
  display: block;
  width: 25px;
  height: 42px;
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: 0px;
  z-index: 0;
}

.banner_prev .over1 {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../images/icons/prev2.png") left top no-repeat;
  opacity: 0.2;
  filter: alpha(opacity=20);
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.banner_prev:hover .over1 {
  opacity: 1;
  filter: alpha(opacity=100);
}

.banner_next {
  display: block;
  width: 25px;
  height: 42px;
  position: absolute;
  right: -50px;
  top: 50%;
  margin-top: 0px;
  z-index: 0;
}

.banner_next .over1 {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../images/icons/next2.png") left top no-repeat;
  opacity: 0.2;
  filter: alpha(opacity=20);
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.banner_next:hover .over1 {
  opacity: 1;
  filter: alpha(opacity=100);
}

#banner .carousel-box {
  position: relative;
}

#banner .carousel-box .inner {
  position: relative;
  overflow: hidden;
  max-width: none;
  margin: 0;
}

#banner .carousel.main {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-right: -30px;
}

#banner .caroufredsel_wrapper {
  padding: 0;
  margin: 0;
}

#banner .caroufredsel_wrapper ul {
  padding: 0;
  margin: 0;
}

#banner .carousel-box ul li {
  float: left;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  position: relative;
  width: 370px;
  overflow: hidden;
  padding-right: 30px;
}

.banner .banner_inner {
  display: block;
  text-decoration: none;
  position: relative;
  background: none;
  padding: 0px;
  text-align: left;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.banner .banner_inner .txt1 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: #201f1e;
  text-transform: uppercase;
  padding-bottom: 20px;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.banner .banner_inner figure .img {
  width: 100%;
}

.banner .banner_inner .caption {
  background: #fff;
  padding: 20px;
  height: 225px;
  text-align: start;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.banner .banner_inner .caption .txt2 {
  color: #111;
  line-height: 20px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 700;
}

.txt2_subtitle {
  color: #777;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 25px;
  font-size: 13px;
  border-bottom: 1px solid #e7e7e7;
}

.banner .banner_inner .caption .txt3 {
  color: #777;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 30px;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.banner .banner_inner .caption .txt4 {
  color: #111;
  font-size: 13px;
  text-align: right;
  font-family: "Open Sans";
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.filtermenu {
  width: 80%;
  margin: 20px auto;
  padding: 0;
  text-align: center;
}

.button {
  border: 1px solid #f5f5f5;
  padding: 16px;
  display: inline-block;
  background-color: #f5f5f5;
  font-size: 13px;
  font-weight: 400;
  color: #777;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
}

.filtermenu :first-child {
  border-radius: 50px 0px 0px 50px;
}
.filtermenu :last-child {
  border-radius: 0px 50px 50px 0px;
}

.filtermenu li.active {
  background: #f5f5f5;
  color: #111;
}

@media (max-width: 374px) {
  .filtermenu {
    width: 100%;
  }
}

.container ::before {
  content: none;
}

.containerf {
  margin: auto auto;
  width: 100%;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

.post {
  margin: 10px;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-thumb {
  margin-bottom: 10px;
}
.post-thumb img {
  width: 100%;
  height: auto;
  margin-left: 20px;
}
.post-txt {
  font-size: 12px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .navbar_ .nav > li > a {
    color: #fff;
  }
  .navbar_ .nav > li.active > a,
  .navbar_ .nav > li.active > a:hover,
  .navbar_ .nav > li.active > a:focus {
    color: #fff;
  }
  .navbar_ .nav > li > a:hover,
  .navbar_ .nav > li > a:focus,
  .navbar_ .nav > li.sfHover > a,
  .navbar_ .nav > li.sfHover > a:hover {
    color: #ececec;
  }
}

@media (max-width: 480px) {
  .navbar_ .nav > li > a {
    color: #fff;
  }
  .navbar_ .nav > li.active > a,
  .navbar_ .nav > li.active > a:hover,
  .navbar_ .nav > li.active > a:focus {
    color: #fff;
  }
  .navbar_ .nav > li > a:hover,
  .navbar_ .nav > li > a:focus,
  .navbar_ .nav > li.sfHover > a,
  .navbar_ .nav > li.sfHover > a:hover {
    color: #ececec;
  }
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.swiper1 {
  width: 100%;
  height: 1450px;
}

.services {
  margin-top: -1000px;
  margin-bottom: 100px;
}

.overlay1 {
  position: absolute;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.overlay2 {
  position: absolute;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.overlay3 {
  position: absolute;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.overlay4 {
  position: absolute;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .thumb2 {
    width: 100%;
    margin: 0;
  }

  .carousel-box .swiper-button-next {
    margin-top: 5px !important;
  }
  .carousel-box .swiper-button-prev {
    margin-top: 5px !important;
  }

  .prlx2 {
    margin-top: 150px;
  }

  .banner .banner_inner .caption {
    height: 270px !important;
  }

  .caroufredsel_wrapper {
    height: 450px;
    margin-bottom: 80px;
  }
  .caroufredsel_wrapper .swiper2 {
    height: 450px !important;
  }

  .thumb2 .caption .txt2 {
    line-height: normal;
  }

  .works .container .containerf {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    margin-left: 0;
  }

  .post {
    margin: 0;
  }

  .container .art {
    width: 100%;
    padding: 10px;
  }

  .containerf .design {
    width: 100%;
    padding: 10px;
  }

  .post-thumb {
    width: 100%;
  }

  .post-thumb img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

@media screen and (max-width: 430px) {
  .container .art {
    padding: 2px;
  }
  .container .design {
    padding: 2px;
  }
}

@media screen and (max-width: 1000px) {
  .containerf .art {
    width: 100%;
  }

  .containerf .design {
    width: 100%;
  }

  .post-thumb {
    width: 100%;
  }

  .post-thumb img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .works .container .containerf {
    grid-template-columns: auto auto;
    width: 100%;
  }

  .carousel-box {
    height: 550px !important;
  }
  .inner {
    height: 550px !important;
  }

  .caroufredsel_wrapper {
    height: 450px;
  }
  .caroufredsel_wrapper .swiper2 {
    height: 540px !important;
  }

  .banner .banner_inner .caption {
    height: 240px !important;
  }

  .carousel-box .swiper-button-next,
  .carousel-box .swiper-button-prev {
    margin-top: -40px !important;
  }
}
@media screen and (max-width: 770px) {
  .col-sm-6 {
    float: left;
    margin: 0;
    padding: 0;
  }

  .col-sm-12 {
    padding: 0;
    width: 100%;
  }

  .col-sm-8 {
    margin-left: 0;
    width: 100%;
    padding: 0px !important;
  }

  #row1 {
    width: 100%;
  }

  #row2 {
    display: grid;
  }

  .col-sm-12 {
    width: 100%;
  }

  form .buttons {
    margin-left: 0;
  }

  figure img {
    width: 100%;
  }

  .thumbnail .caption {
    margin: 0;
  }
  .containerf {
    grid-template-columns: auto;
  }
  .post-thumb img {
    margin: 0;
  }
  .banner .banner_inner .caption {
    height: auto !important;
    padding-bottom: 0%;
  }
}
form textarea.form-controll {
  resize: none;
  min-height: 200px;
}
.form-group {
  margin-bottom: 0;
}
@media screen and (max-width: 600px) {
  .carousel-box .swiper-button-next,
  .carousel-box .swiper-button-prev {
    margin-top: 15px !important;
  }
  .col-sm-6 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .col-sm-8 {
    padding-right: 0;
  }

  .caption1 {
    font-size: 14px;
  }
}

.col-sm-8 .row {
  margin-left: 0;
  margin-right: 0;
}

.swiper-button-next {
  margin-top: -35px !important;
  position: absolute;
  color: #333;
  margin-right: -12px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
}
.swiper-button-prev {
  margin-top: -35px !important;
  position: absolute;
  color: #333;
  margin-left: -12px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  margin-top: 0px;
}

.section {
  position: relative;
}

.columns {
  position: absolute;
  bottom: 45%;
  width: 100%;
}

.some-mh2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: 400px;
}

#banner .caroufredsel_wrapper {
  width: 90%;
  margin: auto;
}
.banner {
  width: 90%;
}

.carousel-box .swiper-button-next {
  border: none;
  color: #333;
  outline: none;
}

.carousel-box .swiper-button-prev {
  border: none !important;
  color: #333;
  outline: none;
}

.swiper3 .swiper-wrapper .swiper-slide {
  background-color: transparent;
  text-align: start;
  height: auto !important;
}
